@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Halant:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");

* {
  padding: o;
}

body {
  background-color: black;
}

.nav-word {
  height: 86.08000183105469px;
 
  left: 0px;
  top: 0px;
  border-radius: 0px;
  padding: 16px 120px 16px 120px;
  background-color: white;
}

.home {
  display: flex;
    justify-content: space-between;
  font-family: "Halant", serif;
  height: Hug (44px);
  top: 21.04px;
  left: 953px;
  gap: 97px;
}

.abtt{
 display: flex;
 justify-content: space-evenly;
 gap: 55px;
}

.hire {
  color: #155eef;
  height: 44px;
  
  left: 346.5px;
  border-radius: 8px;
  margin-top: 19px;
  border-color: #155eef;
}

.bio {
  height: 535px;

  
  top: 80px;
  color: whitesmoke;
  /* margin-left: 110px ; */
  padding-left: 100px;
}

.bio p {
  color: #b8b8b8;
  
  border-radius: nullpx;
  font-family: "Manrope", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0.5px;
}
.see {
  background-color: #155eef;
  color: white;
  padding: 10px, 16px, 10px, 16px;
 
  gap: 10px;
  border-radius: 8px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  size: 16px;
  line-height: 24px;
  letter-spacing: 0.5 px;
}

#anthony {
  font-family: "Halant", serif;
  font-size: 56px;
  font-weight: 600;
  line-height: 67.2px;
  color: #ffffff;
}

.bio h3 {
  color: #b8b8b8;
  font-size: 20px;
  line-height: 48px;
  letter-spacing: 0.5 px;
}

.toppy {
  display: flex;
  height: 479px;
 
  margin-top: 90px;
}

.toppy img {
  
  left: 949px;
}

.about {
  
  left: 0px;
  top: 647px;
  border-radius: 0px;
  background-color: white;
    display: flex;
    gap: 20px;
}



.about img {
  
  display: flex;
  margin-top: 32px;
  margin-left: 120px;
}

.meee {
  margin-top: 32px;

  left: 769px;
  top: 32px;
  border-radius: 0px;
  padding: 16px 24px 16px 24px;
}

.about .meee p {
  color: #494747;
  font-family: "Manrope";
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.5px;
  text-align: justify;
}

.about h2 {
  font-family: "Halant", serif;

  font-size: 32px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  font-style: normal;
}



#hireme {
  background-color: #155eef;
  border: 3px solid #155eef;
  height: 44px;
  width: 160px;
  left: 0px;
  top: 0px;
  border-radius: 8px;
  color: white;
  padding: 0px 0px 0px 45px;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}

#seemy {
  margin-left: 20px;
  background-color: white;
  color: #155eef;
  border: 3px solid #155eef;
  height: 44px;
  width: 160px;
  left: 0px;
  top: 0px;
  border-radius: 8px;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}

.btn {
  margin-top: 30px;
}


.foot-logo{
    display: flex;
    justify-content: space-around;
}


.faaa{
    margin-left: 20px;
}

.foot-logo-image{
    width: 170px;
    height: 54.08px;
    
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  height: 19.95px;
  text-align: center;
  text-decoration: none;

}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  color: white;
}

.fa-twitter {
  color: white;
}

.fa-instagram {
  color: white;
}

.foot-logo p {
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.5px;
  text-align: left;
  color: white;
}
